main{
    height: 85vh;
}

/* main */
#bloco_1
{
    padding: 30px 30px;
    margin-top: 85px;
    width: 98%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.035);
}

.questionario
{
    height: 100%;
}

.questionario form
{
    flex-direction: column;
}
.questionario form *{
    margin-top: 25px;
    font-size: 1.2em;
}

#questArea{
    border-radius: 4spx;
    height: 35px;
    width: 280px;
    border: solid transparent;
    font-size: 1em;
    outline: none;
    border-bottom: solid black;
}

.button
{
    margin-top: 2em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    color: black;
    outline: none;
    border: transparent;
    font-size: 1.5em;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.2;
}

.button :hover{
    
    /* transition: 0.2; */
}

.mensagem
{
    margin-top: 20px;
}