main {
    flex-direction: column;
    align-items: center;
}

/* começo de historia */

#historia {
    margin-top: 85px;
    width: 98%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.035);
    flex-direction: column;
    text-align: center;
}

.historia_1 {
    padding: 30px 50px;
}

.historia_2 {
    padding: 30px 0px;
    justify-content: space-around; 
}

.imagem_historia {
    width: 400px;
    height: 267px;
    background-image: url("../imagens_carfel/computador_2.jpg");
    /* background-position: center; */
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 12%;
}

.texto_hist_2 {
    width: 45%;
    height: 200px;
}

/* final de historia */

/* inicio de outros trabalhos */

#outros_trabalhos {
    margin-top: 25px;
    width: 98%;
    border-radius: 15px;
    padding: 30px 0px;
    background-color: rgba(0, 0, 0, 0.035);
    text-align: center;
}

.fila_trab_1 {
    margin-top: 30px;
    justify-content: space-around;
}

.fila_trab_2 {
    margin-top: 30px;
    justify-content: space-around;
}

.imagem_ot {
    width: 400px;
    height: 320px;
    /* background-color: yellowgreen; */
}

.imagem_ot img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

/* final de outros trabalhos */

#rede_social {
    margin-top: 25px;
    width: 98%;
    border-radius: 15px;
    padding: 30px 0px;
    background-color: rgba(0, 0, 0, 0.035);
    text-align: center;
}

.redes_sociais {
    justify-content: space-around;
}

#icons {
    margin-top: 20px;
    width: 90px;
    height: 90px;
    background-color: yellowgreen;
}

/* Responsividade */

@media screen and (max-width: 1300px)
{
    .fila_trab_1 {
        display: none;
    }

    .fila_trab_2 {
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
    }

    .imagem_ot{
        margin-top: 5px;
    }

    .p_2_hist{
        display: none;
    }
}