    @switch (@ViewBag.UsuarioTipo)
    {
       case "Administrador":
       {
           Layout= "MasterPageAdimin";
           break;
       }
       case "Comum":
       {
            if(ViewBag.UsuarioNome != null)
            {
                Layout= "MasterPageLogado";
            } else {
                Layout= "MasterPageDeslogado";
            }
           break;
       }
       @default:
       {
           Layout= "MasterPageDeslogado";
           break;
       }
    }

<head>
    <link rel="stylesheet" href="/Style/Contato.css">
    <title>Check-point / contato</title>

</head>

<body>
    <main class="flex-container">

        <div id="rede_social">
            <h1>Contato</h1>

            <div class="redes_sociais flex-container">

                <div>
                <div id="icons" class="icon_wpp">
                </div>
                    <p>99999-9999</p>
                </div>

                <div>
                <div id="icons" class="icon_face">
                </div>
                    <p>Carfel Statal</p>
                </div>

                <div>
                <div id="icons" class="icon_insta">
                </div>
                    <p>CF_carfel</p>
                </div>

                <div>
                <div id="icons" class="icon_twtr">
                </div>
                    <p>CF_carfel</p>
                </div>

                <div>
                <div id="icons" class="icon_email">
                </div>
                    <p>sac@carfel.com</p>
                </div>

            </div>

        </div>

        <!-- final de resdes sociais -->

        <div class="localizacao">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3075.9032943469383!2d-46.64583630349437!3d-23.536599333441707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deb99025%3A0xb23619858bc7e63e!2sEscola+SENAI+de+Inform%C3%A1tica!5e0!3m2!1spt-BR!2sbr!4v1544465069721" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                <p>
                    Local mapa Local mapa Local mapa Local mapa
                </p>
            </div>
        </div>
    
    </main>

</body>

</html> 