    @switch (@ViewBag.UsuarioTipo)
    {
       case "Administrador":
       {
           Layout= "MasterPageAdimin";
           break;
       }
       case "Comum":
       {
            if(ViewBag.UsuarioNome != null)
            {
                Layout= "MasterPageLogado";
            } else {
                Layout= "MasterPageDeslogado";
            }
           break;
       }
       @default:
       {
           Layout= "MasterPageDeslogado";
           break;
       }
    }

<head>

    <link rel="stylesheet" href="/Style/FAQ.css">
    <title>Check-point / contato</title>

</head>

<body>

    <main class="conteudo flex-container">

        <!-- inicio das duvidas frequentes -->

        <div class="duvidas_frequentes flex-container">
            <h1>FAQ</h1>

            <div id="faq" class="flex-container">
                <div class="duvida_1"></div>
                <p>Como o softwer funciona?</p>
            </div>

            <div id="faq" class="flex-container">
                <div class="duvida_1"></div>
                <p>Como adiquirir o softwer?</p>
            </div>

            <div id="faq" class="flex-container">
                <div class="duvida_1"></div>
                <p>Como utilizar o softwer?</p>
            </div>

            <div id="faq" class="flex-container">
                <div class="duvida_1"></div>
                <p>Quanto pesa o softwer?</p>
            </div>

            <div id="faq" class="flex-container">
                <div class="duvida_1"></div>
                <p>Como instalar?</p>
            </div>

            <div id="faq" class="flex-container">
                <div class="duvida_1"></div>
                <p>Outras pergunta</p>
            </div>
        </div>

        <!-- final das duvidas frequentes -->
    </main>
</body>
