    @switch (@ViewBag.UsuarioTipo)
    {
       case "Administrador":
       {
           Layout= "MasterPageAdimin";
           break;
       }
       case "Comum":
       {
            if(ViewBag.UsuarioNome != null)
            {
                Layout= "MasterPageLogado";
            } else {
                Layout= "MasterPageDeslogado";
            }
           break;
       }
       @default:
       {
           Layout= "MasterPageDeslogado";
           break;
       }
    }

<head>
    <link rel="stylesheet" href="/Style/Sobre.css">
    <title>Check-point / sobre</title>

</head>

<body>
    <main class="flex-container">


        <!-- começo da historia -->

        <div id="historia" class="flex-container">
            <h1>Quem Somos</h1>

            <div class="historia_1 texto_hist_1">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quis nulla blanditiis soluta, natus tenetur,
                    minima atque ad quisquam est aperiam architecto ex dicta quae quasi deleniti nam, eveniet fugiat. Lorem
                    ipsum dolor, sit amet consectetur adipisicing elit. Culpa autem exercitationem, repudiandae amet molestiae
                    ipsam quod praesentium aliquam vitae eaque ab quasi obcaecati esse voluptas quidem dolor cumque impedit.
                    Consequuntur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, iure vero, minus perferendis
                    et soluta rem, nam ipsum sit fugiat consequatur veniam quasi reiciendis quae molestias ut accusamus autem.
                    Recusandae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi ducimus quae a. Consequatur
                    iure ipsum ad earum sit sed dolorum ea consectetur quisquam, quaerat recusandae optio velit delectus
                    asperiores a. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui deserunt vero ut vitae, reiciendis
                    nesciunt inventore repellat tenetur, sunt voluptate praesentium alias expedita, quas a ab excepturi.
                    Aspernatur, provident tempora. </p>
            </div>

            <div class="historia_2 flex-container">
                <div class="imagem_historia">

                </div>

                <div class="texto_hist_2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta placeat, repellat iure inventore nulla
                        quae illum temporibus quia amet eligendi quibusdam ea quaerat dicta iste modi nam excepturi. Deserunt,
                        esse.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quis nulla blanditiis soluta,
                        natus tenetur, minima atque ad quisquam est aperiam architecto ex dicta quae quasi deleniti nam,
                        quisquam, quaerat recusandae optio velit delectus asperiores a. Lorem ipsum dolor, sit amet consectetur!
                    </p>
                    <p class="p_2_hist">eveniet fugiat. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa autem exercitationem,
                        repudiandae amet molestiae ipsam quod praesentium aliquam vitae eaque ab quasi obcaecati esse voluptas
                        quidem dolor cumque impedit. Consequuntur. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Alias, iure vero, minus perferendis et soluta rem, nam ipsum sit fugiat consequatur veniam quasi
                        reiciendis quae molestias ut accusamus autem. Recusandae! Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit. Nisi ducimus quae a. Consequatur iure ipsum ad earum sit sed dolorum ea consectetur
                        </p>
                </div>

            </div>
        </div>

        <!-- final de historia -->

        <!-- inico de outros Trabalhos -->
        <div id="outros_trabalhos">
            <h2>Outros Trabalhos</h2>

            <div class="fila_trab_1 flex-container">
                <div class="imagem_ot"><img src="../imagens_carfel/cmpt-coffe.jpg" alt="imagem ilustrativa"></div>
                <div class="imagem_ot"><img src="../imagens_carfel/ipad.jpg" alt="imagem ilustrativa"></div>
                <div class="imagem_ot"><img src="../imagens_carfel/cmpt-coffe.jpg" alt="imagem ilustrativa"></div>
            </div>

            <div class="fila_trab_2 flex-container">
                <div class="imagem_ot"><img src="../imagens_carfel/ipad.jpg" alt="imagem ilustrativa"></div>
                <div class="imagem_ot"><img src="../imagens_carfel/cmpt-coffe.jpg" alt="imagem ilustrativa"></div>
                <div class="imagem_ot"><img src="../imagens_carfel/ipad.jpg" alt="imagem ilustrativa"></div>
            </div>

        </div>

        <!-- final de outros trabalhos -->

        <!-- final da historia -->

    </main>

</body>

</html>