* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: oxygen;
}

.flex-cointainer {
    display: flex;
}


/* inicio do topo / navegador */

.topo-nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.660);
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
}

.topo-logo {
    padding: 10px 10px;
}

.navegador {
    flex-direction: row;
    width: 100%;
}

.navegador ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.navegador a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: 500;
}

.navegador a:hover {
    text-shadow: 2px 3px 5px  blue;
    font-size: 2em;
    transition: 0.5s;
}

.barra-brc {
    width: 1px;
    height: 100%;
    background-color: white;
}
/* final do topo / navegador */

/* começo do banner */
.banner h1 {
    color: white;
    text-shadow: 2px 3px 5px  blue;
    font-size: 10em;
    font-weight: 800;
}

.banner {
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../imagens_carfel/computer-coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
/* final do banner */

/* conteudo */

main {
    flex-direction: column;
    align-items: center;
}

/* começo de historia */

#historia {
    margin-top: 25px;
    width: 98%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.035);
    flex-direction: column;
    text-align: center;
}

.historia_1 {
    padding: 30px 50px;
}

.historia_2 {
    padding: 30px 0px;
    justify-content: space-around; 
}

.imagem_historia {
    width: 400px;
    height: 500px;
    background-image: url("../imagens_carfel/felipe_insulino.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
}

.texto_hist_2 {
    padding: 30px 30px;
    width: 70%;
}

/* final de historia */

/* inicio de outros trabalhos */

#outros_trabalhos {
    margin-top: 25px;
    width: 98%;
    border-radius: 15px;
    padding: 30px 0px;
    background-color: rgba(0, 0, 0, 0.035);
    text-align: center;
}

.fila_trab_1 {
    margin-top: 30px;
    justify-content: space-around;
}

.fila_trab_2 {
    margin-top: 30px;
    justify-content: space-around;
}

#imagem_ot {
    width: 400px;
    height: 400px;
    background-image: url("../imagens_carfel/ipad.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1.4em;
    filter: brightness(50%);
    font-weight: 700;
    color: white;
}

/* final de outros trabalhos */

#rede_social {
    margin-top: 25px;
    width: 98%;
    border-radius: 15px;
    padding: 30px 0px;
    background-color: rgba(0, 0, 0, 0.035);
    text-align: center;
}

.redes_sociais {
    justify-content: space-around;
}

#icons {
    margin-top: 20px;
    width: 90px;
    height: 90px;
    font-weight: 700;
}

.icon_wpp img {
    width: 40px;
    height: 40px;
}

.icon_face img {
    width: 40px;
    height: 40px;
}

.icon_insta img {
    width: 40px;
    height: 40px;
}

.icon_twtt img {
    width: 40px;
    height: 40px;
}

.icon_e-mail img {
    width: 40px;
    height: 40px;
}

/* inicio roda pe */

footer {
    height: 60vh;
    margin-top: 25px;
    color: white;
    background-color: black;
    justify-content: space-around;
    padding: 30px 30px;
}

.produtor a {
    color: white;
}

/* final roda pe */

/* chat----------------------------------------------------------- */

.flex-container {
    display: flex;
}

#chat .flex-container > * {
    flex: 1;
}

#chat {
    width: 400px;
    height: 40vh;
    background-color: lightskyblue;
    position: fixed;
    bottom: 40px;
    right: 30px;
}

#chat header {
    width: 100%;
    height: 45px;
    background-color: black;
    padding-left: .2rem;
    padding-top: .1rem;
}

#chat .perfil {
    flex: 4;
    align-items: center;
}


#chat nav {
    align-items: center;

}

#chat .p-img {
    flex: 1;
    width: 100%;
    height: 100%;
}

#chat .p-dados{
    flex: 4;
}

#chat .p-img img {
    width: 65%;
    height: 75%;
    border-radius: 50%;

}

#chat .p-nome {
    color: white;
    font-weight: 600;
}

#chat .p-status {
    color: rgb(95, 255, 47);
}

#chat .acoes a {
    color: aliceblue;
}
/* final do topo do chat */

#chat main {
    width: 100%;
    height: 31vh;
    overflow-y: auto;
    flex-direction: column;
}

#chat .chat-msg {
    width: 80%;
    background-color: #ccc;
    border-radius: 20px;
    margin: 1rem;
    padding: 0.5rem;
}

#chat .chat-msg-enviada {
    align-self: flex-end;
    background-color: lightgreen;
}

#chat footer {
    width: 100%;
    height: 45px;
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#chat footer form {
    flex: 6 !important;
}

#chat form textarea /*mensagem*/ {
    width: 100%;
}

#chat footer i {
    flex: 1;
    color: aliceblue;
}


/* responsividade */

@media screen and (max-width: 1255px) {

    .banner h1 {
        font-size: 6em;
    }

    .historia_2 {
        flex-direction: column;
        align-items: center;
    }

    .fila_trab_1 {
        flex-direction: column;
        align-items: center
    }

    .fila_trab_2 {
        flex-direction: column;
        align-items: center
    }

    .redes_sociais {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 650px) {
    #chat {
        display: none;
    }
}

@media screen and (max-width: 570px) {

    .banner h1 {
        font-size: 3em;
    }

    .imagem_historia {
        width: 300px;
    }

    #imagem_ot {
        width: 300px;;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .email-rp {
        margin-top: 8px;
    }

    .produtor {
        margin-top: 8px;
    }
}