    @switch (@ViewBag.Tipo)
    {
       case "Administrador":
       {
           Layout= "MasterPageAdimin";
           break;
       }
       case "Comum":
       {
            if(ViewBag.UsuarioNome != null)
            {
                Layout= "MasterPageLogado";
            } else {
                Layout= "MasterPageDeslogado";
            }
           break;
       }
       @default:
       {
           Layout= "MasterPageDeslogado";
           break;
       }
    }

<html>
<head>
    <title>Cadastro de usuario</title>

    <link rel="stylesheet" href="/Style/Cadastro.css">
    
</head>

<body>
    <main class="flex-container">

        <div id="bloco_1">

        <h1>Login de usuario</h1>

            <div class="questionario">

                <form class="flex-container" action="/Usuario/Login" method="POST">
        
                    <label>
                        <h3>E-mail</h3>
                        <input type="email" name="email">
                    </label>
        
                    <label>
                        <h3>Senha</h3>
                        
                        <input type="password" name="senha">
                    </label>
                
                    <button type="submit">Logar</button>

                    @ViewBag.Mensagem
                </form>
            </div>
        </div>

    </main>

</body>
</html>