<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300" rel="stylesheet">
    <link rel="stylesheet" href="/Style/master.css">
</head>

<header>
    <div class="topo-nav flex-container">

        <div class="topo-logo">
            <img src="../imagens_carfel/logo_carfel.png" alt="logo do carfel">
        </div>

        <div class="navegador flex-container">
            <ul>
                <p class="NameUser">@ViewBag.UsuarioNome</p>
                
                <a href="/Pages/Home">Inicio</a>
                <div class="barra-brc"></div>

                <a href="/Pages/Sobre">Sobre</a>
                <div class="barra-brc"></div>

                <a href="/Usuario/Cadastro">Cadastrar</a>
                <div class="barra-brc"></div>

                <a href="/Usuario/Login">Logar</a>
                <div class="barra-brc"></div>

                <a href="/Pages/Contato">Contato</a>
                <div class="barra-brc"></div>

                <a href="/Pages/FAQ">FAQ.</a>
            </ul>
</header>

@RenderBody()

<footer class="flex-container">
    <div class="telefone-rp">

        <h2>telefone</h2>
        <ul>
            <li>9999-9999 0800</li>
            <li>500 00 0800</li>
            <li>500 19 0800</li>
            <li>500 99 0800</li>
        </ul>
    </div>

    <div class="email-rp">

        <h2>email:</h2>

        <p>sac&#64carfel.com</p>
    </div>

    <div class="produtor">

        <p>Site produzido por:
            <a target="_blank" href="https://masander.github.io/portfolio/"> Marcelo S. M. G.</a>
        </p>

    </div>
</footer>

</html>